#topbar {
    position: relative;
    /*background-color: orange;*/
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

#topbarlogo {
    /*background-color: rebeccapurple;*/
    position: relative;
    top: -20px;
    border-radius: 50px;

}

#creator {
    position: relative;
    color: pink;
    text-align: center;
    bottom: -810px;
    font-weight: bold;
    font-size: 24px;
    
}

body {
    position: relative;
    background-color: black;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

#madalinimage {
    position: relative;
    width: 400px;
    height: 600px;
    left: 55px;
    top: -250px;
}

#loredanaimage {
    position: relative;
    left: 220px;
    top: -250px;
    width: 400px;
    height: 405px;
    
}

#karinaimage{
    position: relative;
    width: 400px;
    height: 405px;
    left: 340px;
    top: -250px;
    
}

#aflamadalin {
    position: relative;
    text-decoration: none;
    color: pink;
    font-size: 22px;
    font-weight: bold;
    left: 175px;
    top: -275px;
    
}

#aflaloredana{
    position: relative;
    text-decoration: none;
    color: pink;
    font-size: 22px;
    font-weight: bold;
    left: 705px;
    top: -320px;
    
    
}

#aflakarina{
    position: relative;
    text-decoration: none;
    color: pink;
    font-size: 22px;
    font-weight: bold;
    left: 1218px;
    top: -366px;
    width: 10;

}

